.news {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


    background-color: rgb(29, 29, 124);

}

.randomPic {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/* .randomizer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic {
    margin: 10px;
    width: 30px;

} */