.news {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


    background-color: rgb(62, 62, 190);

}

.randomPic {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

